* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

/*USER CLASS CSS*/
.Container {
    display: flex;
    width: 100%;
    height: 100vh;
}

form {
    width: 35em;
    height: auto;
}

.RegisterDiv,
.LoginDiv,
.PasswordResetDiv,
.NewPasswordDiv,
.ContactDiv,
.NoteViewDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.RegisterDiv,
.PasswordResetDiv,
.NewPasswordDiv,
.ContactDiv,
.NoteViewDiv {
    background-image: url(https://tailwindui.com/img/beams-cover@95.jpg) !important;
}

.RegisterForm,
.loginForm,
.PasswordResetForm,
.NewPasswordForm,
.ContactForm,
.NoteViewForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5em 1em .5em 1em;
}


.RegisterInput,
.LoginInput,
.PasswordResetInput,
.NewPasswordInput,
.ContactInput,
.NoteViewInput {
    margin: .7em;
    width: 100%;
    height: 3em;
    line-height: 3em;
    font-size: 1em;
    outline: none;
    border: none;
    padding: 1em;
    border-radius: .5em;
    background-color: rgba(240, 240, 240, 0.712);
}

textarea {
    margin-bottom: 1em;
    border: none;
    resize: none;
    background-color: rgba(240, 240, 240, 0.712);
    font-size: 1.1rem;
    border-radius: .5em;
    padding: .2em;
}

textarea:focus {
    outline: none;
}

.RegisterButton,
.LoginButton,
.PasswordResetButton,
.NewPasswordButton,
.ContactButton {
    border-radius: .5em;
    font-size: 1em;
    height: 3em;
    width: 20em;
    border: none;
    font-weight: bold;
    transition: ease-in-out .2s;
    background: linear-gradient(150deg,
            rgba(69, 143, 132, 0.856) 5%,
            rgba(98, 43, 134, 0.871) 100%);
    color: rgb(0, 0, 0);
}

.RegisterButton:hover,
.LoginButton:hover,
.PasswordResetButton:hover,
.NewPasswordButton:hover,
.ContactButton:hover {
    background-color: rgba(2, 128, 2, 0.644);
    cursor: pointer;
    color: rgb(179, 179, 179);
}

.NoteViewButtonDiv {
    width: 35em;
    display: flex;
    justify-content: space-around;
}

.NoteViewUpButton {
    background-color: rgb(16, 155, 16);
    color: white;
    border-radius: .5em;
    font-size: 1em;
    height: 2.5em;
    width: 15em;
    border: none;
    font-weight: bold;
    transition: ease-in-out .2s;
}

.NoteViewUpButton:hover {
    background-color: rgba(16, 155, 16, 0.829);
    cursor: pointer;
}

.NoteViewDelButton {
    background-color: rgb(155, 16, 16);
    color: white;
    border-radius: .5em;
    font-size: 1em;
    height: 2.5em;
    width: 15em;
    border: none;
    font-weight: bold;
    transition: ease-in-out .2s;
}

.NoteViewDelButton:hover {
    background-color: rgba(155, 16, 16, 0.829);
    cursor: pointer;
}

.FormDivHeader {
    width: 30em;
    height: 2em;
    line-height: 2em;
    display: flex;
}

.FormDivHeader button {
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.301);
    border-radius: 50%;
    color: black;
    margin-right: 5em;
}

.FormDivHeader button:hover {
    background-color: rgba(240, 240, 240, 0.356);
    border-radius: 50%;
    cursor: pointer;
}

.LoginRegForButton {
    border: none;
    background-color: transparent;
    color: rgb(45, 128, 153);
    transition: ease-in-out .5s;
}

.LoginRegForButton:hover {
    color: rgba(45, 128, 153, 0.582);
    cursor: pointer;
}

/*COMPONENTS CLASS NAVBAR CSS*/
.NavbarDiv {
    flex-basis: 25%;
    background: linear-gradient(49deg,
            rgba(122, 3, 233, 0.959) 35%,
            rgba(93, 6, 175, 0.959) 35%,
            rgba(69, 91, 124, 0.871) 100%);

    color: rgba(255, 255, 255, 0.842);
    padding: .5em 1em .5em 1em;
}

.ImageDiv {
    width: 100%;
    height: 15em;
}

.ImageDiv img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.UserInfo {
    width: 100%;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.1em;
    font-weight: bold;

}

.UserInfo p {
    padding: 1em 0 1em 0;
    display: flex;
    justify-content: space-between;
}

.WeatherDiv p {
    padding: 1em 0 1em 0;
    display: flex;
    justify-content: space-between;
}

.weatInf {
    width: 13em;
    text-align: start;
}

.UserButton {
    width: 100%;
    height: 12em;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.UserButton button {
    color: white;
    background: linear-gradient(150deg,
            rgba(13, 100, 87, 0.856) 5%,
            rgba(70, 7, 112, 0.871) 100%);
    border: none;
    width: 18em;
    height: 2.5em;
    line-height: 2.5em;
    transition: ease-in-out .3s;
}

.UserButton button:hover {
    background: linear-gradient(150deg,
            rgba(69, 143, 132, 0.856) 5%,
            rgba(98, 43, 134, 0.871) 100%);
    color: rgba(211, 211, 211, 0.863);
    cursor: pointer;
}

.NavbarContainer {
    width: 100%;
    height: 96vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


/*DASHBOARD CSS*/

.DashboardDiv {
    width: 100%;
    height: 100vh;
    display: flex;
}

.UserContainer {
    flex-basis: 22%;
    background: linear-gradient(80deg,
            rgba(122, 3, 233, 0.959) 35%,
            rgba(3, 32, 75, 0.871) 100%,
            rgba(69, 91, 124, 0.871) 100%);

    color: rgba(255, 255, 255, 0.842);
    padding: .5em 1em .5em 1em;
}

.NotePadContainer {
    flex-basis: 78%;
    padding: .5em 1em .5em 1em;
    display: flex;
    flex-direction: column;
}

.AddNewNoteDiv {
    flex-basis: 8%;
    width: 100%;
    height: 3em;
    line-height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.AddNewNoteDiv button {
    width: 13em;
    height: 2.5em;
    border: none;
    border-radius: .8em;
    font-weight: bold;
    transition: ease-in-out .2s;
    color: white;
    background: linear-gradient(150deg,
            rgba(13, 100, 87, 0.856) 5%,
            rgba(70, 7, 112, 0.871) 100%);

}

.AddNewNoteDiv button:hover {
    background: linear-gradient(150deg,
            rgba(69, 143, 132, 0.856) 5%,
            rgba(98, 43, 134, 0.871) 100%);
    color: rgba(211, 211, 211, 0.863);
    cursor: pointer;
}


.MyNotesDiv {
    width: 18em;
    height: 16em;
}

.NotePaperDiv {
    width: 100%;
    height: 100%;
    background: linear-gradient(150deg,
            rgba(69, 143, 132, 0.856) 5%,
            rgba(98, 43, 134, 0.871) 100%);
    border-radius: 1em;
    transition: ease-in-out .2s;
}

.NotePaperDiv:hover {
    background-color: rgba(168, 168, 168, 0.555) !important;
    cursor: pointer;
}

.NotesDiv {
    padding: 2em;
    flex-basis: 92%;
    width: 100%;
    height: 100%;
    display: grid !important;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(15em, 2fr));
}

.NotesInfo {
    padding: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.NoteTitle {
    flex-basis: 15%;
    border-bottom: 1px solid rgba(206, 214, 214, 0.699);
    line-height: 2em;
    font-weight: bold;
}

.NoteDescription {
    flex-basis: 80%;
    white-space: pre-wrap !important;
    word-break: break-all;
}

.NoteDescription p {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.NoteUpload {
    flex-basis: 15%;
    line-height: 2em;
    display: flex;
    justify-content: space-between;
}


.EditIcon {
    color: rgb(230, 196, 8);
    border: none;
    background-color: transparent;
    margin-right: 1.2em;
}

.EditIcon:hover {
    cursor: pointer;
    color: rgba(230, 197, 8, 0.685);
}

.DeleteIcon {
    color: rgb(187, 3, 3);
    border: none;
    background-color: transparent;
}

.DeleteIcon:hover {
    cursor: pointer;
    color: rgba(187, 3, 3, 0.685);
}

.NoteTitle span,
.NoteDescription span,
.NoteUpload span {
    color: rgba(206, 214, 214, 0.699);
}

.AddNewNoteModel {
    width: 100%;
    height: 100vh;
    background-color: rgb(179, 179, 179);
}



.DashboardModal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(206, 214, 214, 0.150);
}

.NoteModalDiv {
    width: 35%;
    height: 50%;
    background-color: rgba(204, 204, 204, 0.952);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 1em;
}

.NoteModalDiv form {
    width: 80%;
    height: auto;
}

.NoteModalTitleDiv {
    width: 100%;
    height: 4em;
    margin: 1em 0 1em 0;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.NoteModalTitleDiv span {
    font-weight: bold;
}

.CloseModalButton {
    width: 2em;
    border-radius: .4em;
    border: none;
    background-color: rgb(219, 219, 219, 0.350);
    transition: ease-in-out .2s;
}

.CloseModalButton:hover {
    cursor: pointer;
    background-color: rgba(219, 219, 219, 0.144);
}

.NoteModalInput {
    width: 100%;
    height: 2.5em;
    border: none;
    padding: 1em;
    font-size: 1.1em;
    font-weight: bold;
    background-color: rgb(219, 219, 219);
    outline: none;
    margin-bottom: 2em;
    border-radius: .5em;
}

.NoteModalButton {
    width: 50%;
    height: 2.5em;
    line-height: 2.5em;
    border-radius: .5em;
    border: none;
    transition: ease-in-out .3s;
    font-weight: bold;
}

.NoteModalButton:hover {
    cursor: pointer;
    background-color: rgba(240, 248, 255, 0.616);
}