* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
}

#LoadingDiv {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

/*USER CLASS CSS*/


form {
    width: 35em;
    height: auto;
}

.RegisterDiv,
.LoginDiv,
.NewPasswordDiv,
.ContactDiv,
.NoteViewDiv,
.EditUserDiv {
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.PasswordResetDiv {
    width: 100%;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.RegisterForm,
.loginForm,
.PasswordResetForm,
.NewPasswordForm,
.ContactForm,
.NoteViewForm,
.EditUserForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: .5em 1em .5em 1em;
    border-top: none;
    border-radius: .4em;
    box-shadow: .1em .1em 1em .1em rgba(0, 0, 0, 0.329) ;
}


.RegisterInput,
.LoginInput,
.PasswordResetInput,
.NewPasswordInput,
.ContactInput,
.NoteViewInput,
.EditUserInput {
    margin: .7em;
    width: 100%;
    height: 3em;
    line-height: 3em;
    font-size: 1em;
    outline: none;
    border: none;
    padding: 1em;
    border-radius: .5em;
    box-shadow: .1em .1em 1em .1em rgba(182, 182, 182, 0.329) ;

}

.NoteViewForm textarea,
.ContactForm textarea {
    margin-bottom: 1em;
    border: none;
    resize: none;
    font-size: 1.1rem;
    border-radius: .5em;
    padding: .2em;
    box-shadow: .1em .1em 1em .1em rgba(182, 182, 182, 0.329) ;
}

.NoteViewForm textarea:focus,
.ContactForm textarea:focus {
    outline: none;
}

.RegisterButton,
.LoginButton,
.PasswordResetButton,
.NewPasswordButton,
.ContactButton,
.NoteViewNewSaveButton,
.NewPassDescButton {
    border-radius: .5em;
    font-size: 1em;
    height: 3em;
    width: 20em;
    border: none;
    font-weight: bold;
    transition: ease-in-out .2s;
    background: linear-gradient(150deg,
            rgba(69, 143, 132, 0.856) 5%,
            rgba(98, 43, 134, 0.871) 100%);
    color: rgb(0, 0, 0);
}

.RegisterButton:hover,
.LoginButton:hover,
.PasswordResetButton:hover,
.NewPasswordButton:hover,
.ContactButton:hover,
.NoteViewNewSaveButton:hover,
.NewPassDescButton:hover {
    background-color: rgba(2, 128, 2, 0.644);
    cursor: pointer;
    color: rgb(179, 179, 179);
}

.NoteViewButtonDiv {
    width: 35em;
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

.NoteViewUpButton {
    background-color: rgb(16, 155, 16);
    color: white;
    border-radius: .5em;
    font-size: 1em;
    height: 2.5em;
    width: 15em;
    border: none;
    font-weight: bold;
    transition: ease-in-out .2s;
}

.NoteViewUpButton:hover {
    background-color: rgba(16, 155, 16, 0.829);
    cursor: pointer;
}

.NoteViewDelButton {
    background-color: rgb(155, 16, 16);
    color: white;
    border-radius: .5em;
    font-size: 1em;
    height: 2.5em;
    width: 15em;
    border: none;
    font-weight: bold;
    transition: ease-in-out .2s;
}

.NoteViewDelButton:hover {
    background-color: rgba(155, 16, 16, 0.829);
    cursor: pointer;
}

.FormDivHeader {
    width: 30em;
    height: 2em;
    line-height: 2em;
    display: flex;
}

.FormDivHeader button {
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.301);
    border-radius: 50%;
    color: black;
    margin-right: 5em;
}

.FormDivHeader button:hover {
    background-color: rgba(240, 240, 240, 0.356);
    border-radius: 50%;
    cursor: pointer;
}

.LoginRegForButton {
    border: none;
    background-color: transparent;
    color: rgb(45, 128, 153);
    transition: ease-in-out .5s;
}

.LoginRegForButton:hover {
    color: rgba(45, 128, 153, 0.582);
    cursor: pointer;
}

.EditUserImg {
    width: 15em;
    height: auto;
    object-fit: contain;
}

/*NAVBAR CSS*/
.NavbarDiv {
    width: 100%;
    height: 3em;
    line-height: 3em;
    display: flex;
    justify-content: flex-end;
    background: linear-gradient(120deg,
            rgba(69, 143, 132, 0.856) 5%,
            rgba(98, 43, 134, 0.871) 100%);
    padding: 1em;
    position: relative;
    top: 0;
}

.NavbarButtonDiv {
    flex-basis: 20%;
    display: flex;
    justify-content: space-evenly;
}

.NavbarButton {
    border: none;
    background-color: transparent;
    color: white;
    transition: ease-in-out .125s;
}

.NavbarButton:hover {
    cursor: pointer;
    color: rgb(230, 230, 230);
}



/*DASHBOARD CSS*/

.DashboardContainer {
    width: 100%;
    height: 100vh;
}

.UserContainer {
    background: linear-gradient(180deg,
            rgba(184, 184, 184, 0.158) 35%,
            rgba(218, 181, 79, 0.562) 100%);
    padding: .5em 1em .5em 1em;
}

.NotePadContainer {
    flex-basis: 78%;
    padding: .5em 1em .5em 1em;
    display: flex;
    flex-direction: column;
}

.AddNewNoteDiv {
    flex-basis: 8%;
    width: 100%;
    height: 3em;
    line-height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.NoteDivSearch{
    width: 25em;
    height: 2.5em;
    line-height: 2.5em;
    padding: 1em;
    outline: none;
    border: none;
    border-radius: .4em;
    box-shadow: .1em .1em .1em .1em rgba(104, 104, 104, 0.616);
}
.AddNewNoteButton {
    width: 13em;
    height: 2.5em;
    border: none;
    border-radius: .8em;
    font-weight: bold;
    transition: ease-in-out .2s;
    color: white;
    background: linear-gradient(120deg,
            rgba(69, 143, 132, 0.856) 5%,
            rgba(98, 43, 134, 0.871) 100%);

}

.AddNewNoteButton:hover {
    background-color: rgba(0, 128, 0, 0.726);
    cursor: pointer;
}

.PaginationDiv button {
    width: 5em;
}

/*COMPONENTS CLASS USERINFO CSS*/
.UserInfoDiv {
    width: 100%;
    color: rgba(8, 8, 8, 0.842);
    padding: .5em 1em .5em 1em;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.ImageDiv {
    width: 25em;
    height: 15em;
}

.ImageDiv img {
    width: 15em;
    height: 15em;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: .1em .1em .1em .1em rgba(68, 67, 67, 0.37);
}

.UserInfo {
    width: 100%;
    height: 25em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    font-size: 1.1em;
    font-weight: bold;
}

.UserInfoP {
    width: 20em;
    padding: 1em 0 1em 0;
    display: flex;
    justify-content: space-between;
}

.UserInfoSp {
    width: 13em;
    text-align: start;
}

.UserInfoButton {
    width: 10em;
    height: 2.5em;
    line-height: 2.5em;
    border: none;
    background-color: rgba(236, 197, 152, 0.712);
    border-radius: .4em;
    transition: ease-in-out .2s;
}

.UserInfoButton:hover {
    cursor: pointer;
    background-color: rgba(238, 186, 127, 0.712);
}

/*NotePaper CSS*/

.MyNotesDiv {
    width: 18em;
    height: 16em;
}

.NotePaperDiv {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,
            rgba(241, 231, 142, 0.61) 35%,
            rgba(94, 180, 144, 0.466) 100%);
    border-radius: 1em;
    transition: ease-in-out .2s;
}

.NotePaperDiv:hover {
    background-color: rgba(184, 184, 184, 0.555) !important;
    cursor: pointer;
}

.NotesDiv {
    padding: 2em;
    flex-basis: 92%;
    width: 100%;
    height: 100%;
    display: grid !important;
    grid-gap: 4rem;
    grid-template-columns: repeat(auto-fit, minmax(15em, 2fr));
}

.NotesInfo {
    padding: 1em;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.NoteTitle {
    flex-basis: 15%;
    border-bottom: 1px solid rgba(206, 214, 214, 0.699);
    line-height: 2em;
    font-weight: bold;
}

.NoteDescription {
    flex-basis: 80%;
    white-space: pre-wrap !important;
    word-break: break-all;
}

.NoteDescription p {
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.NoteUpload {
    flex-basis: 15%;
    line-height: 2em;
    display: flex;
    justify-content: space-between;
}


.EditIcon {
    color: rgb(230, 196, 8);
    border: none;
    background-color: transparent;
    margin-right: 1.2em;
}

.EditIcon:hover {
    cursor: pointer;
    color: rgba(230, 197, 8, 0.685);
}

.DeleteIcon {
    color: rgb(187, 3, 3);
    border: none;
    background-color: transparent;
}

.DeleteIcon:hover {
    cursor: pointer;
    color: rgba(187, 3, 3, 0.685);
}

.NoteTitle span,
.NoteDescription span,
.NoteUpload span {
    color: rgba(160, 160, 160, 0.699);
}

.AddNewNoteModel {
    width: 100%;
    height: 100vh;
    background-color: rgb(179, 179, 179);
}


/*ADMİN PANEL CSS*/
.PanelDiv {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 1em;
}

.PanelDiv .PanelForm {
    width: 40em;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.PanelInput {
    width: 100%;
    height: 3em;
    line-height: 3em;
    font-size: 1.1em;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid rgba(143, 194, 214, 0.603);
    outline-color: rgba(84, 174, 209, 0.603);
    border-radius: .4em;
    color: rgba(84, 174, 209, 0.986);
}

.PanelInput::placeholder,
.PanelForm textarea::placeholder {
    color: rgba(84, 174, 209, 0.192);
}

.PanelForm textarea {
    resize: none;
    background-color: transparent;
    font-size: 1.1em;
    padding: 1em;
    margin-bottom: 1em;
    border: 1px solid rgba(143, 194, 214, 0.603);
    outline-color: rgba(84, 174, 209, 0.603);
    border-radius: .4em;
    color: rgba(84, 174, 209, 0.986);
}


.PanelButton {
    width: 100%;
    height: 3em;
    line-height: 3em;
    border: none;
    background-color: rgba(54, 163, 206, 0.986);
    color: white;
    border-radius: .4em;
    transition: ease-in-out .2s;
}

.PanelButton:hover {
    cursor: pointer;
    background-color: rgba(54, 163, 206, 0.692);
    color: rgba(177, 20, 20, 0.815);
}

/*HOME CSS*/
.HomeContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
}

.HomeHeader {
    width: 95%;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.HomeBody {
    width: 95%;
    flex-basis: 50%;
    padding: 1em;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.HomeBottom {
    width: 95%;
    flex-basis: 30%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}